spec:
  containers:
    - name: "main"
      image: {{ IMAGE_NAME }}
      resources:
        limits:
{% if NUM_GPUS != 0 %}
          nvidia.com/gpu: {{ NUM_GPUS }}
{% endif %}
          cpu: 1
        requests:
{% if NUM_GPUS != 0 %}
          nvidia.com/gpu: {{ NUM_GPUS }}
{% endif %}
          cpu: 1
      volumeMounts:
        - name: dshm
          mountPath: /dev/shm
{% if STAGE_NAME != '' %}
        - name: container-files
          mountPath: /app/files
{% endif %}
  endpoint:
    - name: jupyter
      port: 9091
      public: True
    - name: ssh
      port: 9090
      public: True
  volume:
    - name: dshm
      source: "memory"
      size: "2Gi"
{% if STAGE_NAME != '' %}
    - name: container-files
      source: "@{{ STAGE_NAME }}"
      uid: 1000
      gid: 1000
{% endif %}
