
USE ROLE ACCOUNTADMIN;
CREATE OR REPLACE NETWORK RULE HF_ACCESS_RULE
  MODE = EGRESS
  TYPE = HOST_PORT
  VALUE_LIST = ('0.0.0.0:443','0.0.0.0:80');


CREATE OR REPLACE EXTERNAL ACCESS INTEGRATION HF_EAI
  ALLOWED_NETWORK_RULES = (HF_ACCESS_RULE)
  ENABLED = true;


GRANT USAGE ON INTEGRATION HF_EAI TO ROLE {{ROLE}};
USE ROLE {{ROLE}};

