
ALTER COMPUTE POOL IF EXISTS {{COMPUTE_POOL_NAME}} STOP ALL;
DROP COMPUTE POOL IF EXISTS {{COMPUTE_POOL_NAME}};

CREATE COMPUTE POOL {{COMPUTE_POOL_NAME}}
  MIN_NODES={{COMPUTE_POOL_INSTANCES}}
  MAX_NODES={{COMPUTE_POOL_INSTANCES}}
  instance_family={{COMPUTE_POOL_TYPE}}
  auto_suspend_secs = 200;

CREATE DATABASE IF NOT EXISTS {{DATABASE}};
USE DATABASE {{DATABASE}};
CREATE SCHEMA IF NOT EXISTS {{SCHEMA}};
USE SCHEMA {{SCHEMA}};

CREATE OR REPLACE FILE FORMAT embedding_parquet_format TYPE = parquet;
CREATE OR REPLACE STAGE {{STAGE_NAME}} FILE_FORMAT = embedding_parquet_format;

CREATE IMAGE REPOSITORY IF NOT EXISTS {{IMAGE_REPOSITORY}};