<!DOCTYPE html>
<html lang="en">

<head>
  <title>CORS Testing</title>
  <style>
    input[type="text"] {
      width: 80%;
    }
  </style>
</head>

<body>
  <h1>Welcome to CORS Testing Service!</h1>

  <section>
    <h2>CORS HTTP GET WITH PAT</h2>
    <form>
      <label for="cors_get_input_url_pat">GET URL:</label><br>
      <input type="text" id="cors_get_input_url_pat" name="cors_get_input_url_pat" value="https://id-org-account.snowflakecomputing.app/healthcheck"><br>
      <label for="get_pat_token">PAT token:</label><br>
      <input type="text" id="get_pat_token" name="get_pat_token"><br>
    </form>
    <button onclick="executeCorsGetWithPat()">Execute CORS GET</button>
  </section>

  <h3>CORS GET Response with PAT:</h3>
  <p id="cors_get_response_with_pat"></p>

  <section>
    <h2>CORS HTTP POST WITH PAT</h2>
    <form>
      <label for="cors_post_input_url_pat">POST URL:</label><br>
      <input type="text" id="cors_post_input_url_pat" name="cors_post_input_url_pat" value="https://id-org-account.snowflakecomputing.app/echo"><br>
      <label for="cors_post_input_payload_pat">POST Payload:</label><br>
      <input type="text" id="cors_post_input_payload_pat" name="cors_post_input_payload_pat"><br>
      <label for="post_pat_token">PAT token:</label><br>
      <input type="text" id="post_pat_token" name="post_pat_token"><br>
    </form>
    <button onclick="executeCorsPostWithPat()">Execute CORS POST</button>
  </section>

  <h3>CORS POST Response with PAT:</h3>
  <p id="cors_post_response_with_pat"></p>

  <script>
    async function executeRequest(url, method, headers = {}, body = null, expectCustomHeader = false) {
      try {
        const options = {
          method,
          headers,
          body: body ? JSON.stringify(body) : null
        };
        const response = await fetch(url, options);
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        if (expectCustomHeader) {
          if (!response.headers) {
            throw new Error('Headers are empty')
          } else if (!response.headers.has('Custom-Header-X')) {
            throw new Error(`Headers do not contain Custom-Header-X, which is supposed to be exposed. Headers: ${Array.from(response.headers)}`)
          } else if (response.headers.has('Custom-Header-Y')) {
            throw new Error(`Headers contains Custom-Header-Y, which is not supposed to be exposed. Headers: ${Array.from(response.headers)}`)
          }
        }

        return await response.text();
      } catch (error) {
        console.error('Error during request:', error);
        throw error;
      }
    }

    async function executeCorsGetWithPat() {
      const url = document.getElementById("cors_get_input_url_pat").value;
      const patToken = document.getElementById("get_pat_token").value;

      try {
        const headers = { 
          Authorization: `Snowflake Token=\"${patToken}\"`,
          'Custom-Header-A': 'foo',
        };
        const response = await executeRequest(url, 'GET', headers, undefined, true);
        console.log("CORS GET response with PAT returned, ", response);
        document.getElementById("cors_get_response_with_pat").textContent = response;
      } catch (error) {
        document.getElementById("cors_get_response_with_pat").textContent = error;
      }
    }

    async function executeCorsPostWithPat() {
      const url = document.getElementById("cors_post_input_url_pat").value;
      const payload = document.getElementById("cors_post_input_payload_pat").value;
      const patToken = document.getElementById("post_pat_token").value;

      try {
        const headers = {
          Authorization: `Snowflake Token=\"${patToken}\"`,
          'Content-Type': 'application/json',
          'Custom-Header-A': 'foo',
        };

        const response = await executeRequest(url, 'POST', headers, { data: payload }, true);

        const validJsonString = response.replace(/'/g, '"');
        const parsedResponse = JSON.parse(validJsonString);
        const responseValue = parsedResponse.data;
        console.log("CORS POST response with PAT returned, ", responseValue);
        document.getElementById("cors_post_response_with_pat").textContent = responseValue;
      } catch (error) {
        document.getElementById("cors_post_response_with_pat").textContent = error;
      }
    }
  </script>
</body>

</html>
