
ALTER COMPUTE POOL IF EXISTS {{COMPUTE_POOL_NAME}} STOP ALL;
DROP COMPUTE POOL IF EXISTS {{COMPUTE_POOL_NAME}};

DROP STAGE IF EXISTS {{STAGE_NAME}};
DROP FILE FORMAT IF EXISTS embedding_parquet_format;

DROP FUNCTION IF EXISTS {{SERVICE_NAME}}_FN(VARCHAR);