
USE ROLE ACCOUNTADMIN;
USE {{DATABASE}}.{{SCHEMA}};

CREATE OR REPLACE NETWORK RULE EMBEDDINGS_RULE
  MODE = EGRESS
  TYPE = HOST_PORT
  VALUE_LIST = ('huggingface.co:443', 'cdn-lfs-us-1.hf.co:443');


CREATE OR REPLACE EXTERNAL ACCESS INTEGRATION {{EAI_NAME}}
  ALLOWED_NETWORK_RULES = (EMBEDDINGS_RULE)
  ENABLED = true;

GRANT USAGE ON INTEGRATION {{EAI_NAME}} TO ROLE {{ROLE}};
USE ROLE {{ROLE}};
