
{% if RECREATE_COMPUTE_POOL %}

ALTER COMPUTE POOL IF EXISTS {{COMPUTE_POOL_NAME}} STOP ALL;
DROP COMPUTE POOL IF EXISTS {{COMPUTE_POOL_NAME}};

CREATE COMPUTE POOL {{COMPUTE_POOL_NAME}}
  MIN_NODES={{COMPUTE_POOL_INSTANCES}}
  MAX_NODES={{COMPUTE_POOL_INSTANCES}}
  instance_family={{COMPUTE_POOL_TYPE}}
  auto_suspend_secs = 1000;

{% endif %}

USE DATABASE {{DATABASE}};
USE SCHEMA {{SCHEMA}};

CREATE IMAGE REPOSITORY IF NOT EXISTS {{IMAGE_REPOSITORY}};